@mixin font-face($font-weight, $font-src) {
  @font-face {
    font-family: "Montserrat";
    font-weight: $font-weight;
    font-style: normal;
    src: $font-src;
    font-display: swap;
  }
}

@mixin regular-font {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
}

@mixin bold-font {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
