/* здесь используйте глобальные переменные */
$color-base: #333333;
$color-primary: #7859cf;
$color-secondary: #ffffff;

$bg-base: #ffffff;
$bg-primary: #f8f8f8;
$bg-secondary: #7859cf;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
