.filter__form {
  margin: 0 0 40px;
}

.filter__unit {
  margin: 0 0 30px;
  padding: 0;
  border: none;
}

.filter__unit-title {
  padding: 0;
}

.filter__list {
  @include reset-list;
}

.filter__input--country {
  appearance: none;
}

.filter__item:has(.filter__input--country:hover) {
  opacity: 0.5;
}

.filter__input--milk {
  appearance: none;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__button {
  width: 100%;
}

.filter__button--reset {
  color: $color-primary;
  background-color: $bg-base;
}
