.main-nav {
  position: relative;
}

.main-nav__list {
  @include reset-list;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: 600px;
  }
}

.main-nav__link {
  @include font-500;
  display: block;
  padding: 20px 0 21px;
  font-size: 12px;
  line-height: 16px;
  color: $color-base;
  background-color: $bg-base;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #f0ebff;
  transition:
    color 0.4s ease,
    background-color 0.4s ease;

  @media (min-width: $tablet-width) {
    padding: 10px 21px;
    border: none;
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: $color-primary;
  }

  &:active {
    background-color: #f0ebff;
  }
}

.main-nav__link--current {
  @media (min-width: $tablet-width) {
    position: relative;
    color: $color-primary;
  }
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -21px;
    height: 2px;
    background-color: $bg-secondary;
  }
}

.main-nav__list--open {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 30px;
    right: 0;
    left: -150px;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    width: 323px;
  }
}
