.slider {
  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 600px 1fr;
    gap: 0 30px;
  }
}

.slider picture {
  @media (min-width: $tablet-width) {
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.slider__image {
  display: block;
  margin: 0 auto 10px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 0 10px;
  }
}

.slider__text-wrapper {
  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.slider__badge {
  margin: 0 0 4px;

  @media (min-width: $desktop-width) {
    margin: 150px 0 4px;
  }
}

.slider__title {
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 48px;

  @media (min-width: $tablet-width) {
    margin: 0 0 16px;
    font-size: 56px;
    line-height: 80px;
  }
}

.slider__description {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 605px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.slider__description br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.slider__button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 230px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.slider__price-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.slider__arrow-button {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.slider__arrow-button--backward {
  left: 0;

  &:hover,
  &:focus-visible {
    background-image: linear-gradient(to right, $bg-base, transparent);
  }

  &:active {
    background-image: linear-gradient(to right, #ddd6f3, transparent);
  }
}

.slider__arrow-button--forward {
  right: 0;

  &:hover,
  &:focus-visible {
    background-image: linear-gradient(to left, $bg-base, transparent);
  }

  &:active {
    background-image: linear-gradient(to left, #ddd6f3, transparent);
  }
}

.slider__arrow-button::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.slider__arrow-button--backward::after {
  background-image: url("../../icons/stack.svg#slider-button-backward");
  background-size: 11px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__arrow-button--forward::after {
  background-image: url("../../icons/stack.svg#slider-button-forward");
  background-size: 11px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__pagination {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

.slider__button-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 62px;
    height: 4px;
    padding: 0;
    background-color: $bg-base;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;

    &:hover,
    &:focus-visible {
      background-color: rgba(120, 89, 207, 0.25);
    }

    &:active {
      background-color: $bg-secondary;
    }
  }
}

.slider__button-pagination--current {
  background-color: $bg-secondary;
  pointer-events: none;
}
